openapi: 3.1.0
info:
  title: Noisia Public Reporting API
  version: "2.0.0"
  summary: Public reporting endpoints for Looker Studio and Linkstudio.
  description: |
    Public API for published Noisia Signal reports.

    V1 exposes flat tabular datasets and CSV exports for BI tools.
    V2 exposes the structured client-ready Signal output for Linkstudio.
servers:
  - url: https://studio.noisia.ai
    description: Production
security:
  - bearerAuth: []
  - noisiaApiKey: []
tags:
  - name: Public V1
    description: Flat datasets and CSV exports.
  - name: Public V2
    description: Structured Signal output for Linkstudio.
paths:
  /api/public/v1/reports:
    get:
      tags: [Public V1]
      operationId: listPublicV1Reports
      summary: List published reports visible to the API key.
      responses:
        "200":
          description: Visible published reports.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1ReportsListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/{dataset}:
    get:
      tags: [Public V1]
      operationId: getPublicV1ReportDataset
      summary: Get a flat JSON dataset for one report.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: dataset
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/V1Dataset"
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, csv]
          description: Use `csv` to download the dataset as CSV.
      responses:
        "200":
          description: Dataset rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
            text/csv:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/time-series/monthly:
    get:
      tags: [Public V1]
      operationId: getPublicV1MonthlyTimeSeries
      summary: Get monthly mention volume.
      parameters:
        - $ref: "#/components/parameters/OutputId"
      responses:
        "200":
          description: Monthly time-series rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/distributions/{distribution}:
    get:
      tags: [Public V1]
      operationId: getPublicV1Distribution
      summary: Get a flat distribution dataset.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: distribution
          in: path
          required: true
          schema:
            type: string
            enum: [platform, content-type, layer, mobility, polarity]
      responses:
        "200":
          description: Distribution rows.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V1DatasetResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v1/reports/{outputId}/datasets/{datasetFile}:
    get:
      tags: [Public V1]
      operationId: downloadPublicV1DatasetCsv
      summary: Download a V1 dataset as CSV.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: datasetFile
          in: path
          required: true
          schema:
            type: string
            examples:
              - findings.csv
              - recommendations.csv
              - time-series-monthly.csv
      responses:
        "200":
          description: CSV dataset.
          content:
            text/csv:
              schema:
                type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports:
    get:
      tags: [Public V2]
      operationId: listPublicV2Reports
      summary: List published reports visible to Linkstudio.
      responses:
        "200":
          description: Visible published reports with available sections.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2ReportsListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports/{outputId}:
    get:
      tags: [Public V2]
      operationId: getPublicV2Report
      summary: Get the full structured Signal report.
      parameters:
        - $ref: "#/components/parameters/OutputId"
      responses:
        "200":
          description: Full structured report.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
  /api/public/v2/reports/{outputId}/sections/{section}:
    get:
      tags: [Public V2]
      operationId: getPublicV2ReportSection
      summary: Get one structured Signal section.
      parameters:
        - $ref: "#/components/parameters/OutputId"
        - name: section
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/V2Section"
      responses:
        "200":
          description: Structured section response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/V2SectionResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/ServerError"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "Preferred auth header: `Authorization: Bearer <NOISIA_REPORTING_API_KEY>`."
    noisiaApiKey:
      type: apiKey
      in: header
      name: x-noisia-api-key
      description: Fallback API key header.
  parameters:
    OutputId:
      name: outputId
      in: path
      required: true
      schema:
        type: string
      description: Published output id.
  responses:
    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: API key cannot access this report.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Report, dataset or section not found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    ServerError:
      description: Internal API error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
  schemas:
    ErrorResponse:
      type: object
      required: [error, message]
      properties:
        error:
          type: string
          examples: [missing_api_key, invalid_api_key, forbidden_output, report_not_found, server_error]
        message:
          type: string
    V1Dataset:
      type: string
      enum:
        - summary
        - kpis
        - findings
        - recommendations
        - emerging-patterns
        - time-series-monthly
        - platform-distribution
        - content-type-distribution
        - layer-distribution
        - mobility-distribution
        - polarity-distribution
        - evidence-sample
    V2Section:
      type: string
      enum:
        - full
        - overview
        - findings
        - decision-field
        - action-cards
        - strategic-opportunities
        - competitive-intelligence
        - emerging-patterns
        - future-signals
        - market-analysis
        - knowledge-impact
        - evidence-deep-dives
        - aggregates
        - evidence-sample
        - manifest
    V1ReportListItem:
      type: object
      additionalProperties: false
      properties:
        output_id:
          type: string
        title:
          type: string
        headline:
          type: [string, "null"]
        summary:
          type: [string, "null"]
        report_version:
          type: integer
        brand_name:
          type: [string, "null"]
        methodology:
          type: [string, "null"]
        methodology_slug:
          type: string
        published_at:
          type: [string, "null"]
          format: date-time
    V1ReportsListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/V1ReportListItem"
        meta:
          type: object
          required: [dataset, row_count]
          properties:
            dataset:
              const: reports
            row_count:
              type: integer
    V1DatasetResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        meta:
          type: object
          required: [output_id, dataset, row_count, report_version, published_at]
          properties:
            output_id:
              type: string
            dataset:
              $ref: "#/components/schemas/V1Dataset"
            dataset_label:
              type: string
            row_count:
              type: integer
            report_version:
              type: integer
            published_at:
              type: [string, "null"]
              format: date-time
    V2ReportListItem:
      type: object
      required: [api_version, output_id, title, report_version, schema_version, sections, links]
      properties:
        api_version:
          const: 2
        output_id:
          type: string
        output_type:
          type: string
        title:
          type: string
        headline:
          type: [string, "null"]
        summary:
          type: [string, "null"]
        report_version:
          type: integer
        schema_version:
          type: integer
        brand_name:
          type: [string, "null"]
        methodology:
          type: [string, "null"]
        methodology_slug:
          type: string
        published_at:
          type: [string, "null"]
          format: date-time
        updated_at:
          type: [string, "null"]
          format: date-time
        sections:
          type: array
          items:
            $ref: "#/components/schemas/V2Section"
        links:
          type: object
          properties:
            full:
              type: string
            sections:
              type: string
    V2ReportsListResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/V2ReportListItem"
        meta:
          type: object
          required: [api_version, dataset, row_count]
          properties:
            api_version:
              const: 2
            dataset:
              const: reports
            row_count:
              type: integer
    V2SectionResponse:
      type: object
      required: [data, meta]
      properties:
        data:
          description: Full Signal report or a single structured Signal section.
          oneOf:
            - $ref: "#/components/schemas/V2FullReport"
            - type: object
              additionalProperties: true
            - type: array
              items:
                type: object
                additionalProperties: true
            - type: "null"
        meta:
          type: object
          required: [api_version, output_id, section, report_version, schema_version, published_at]
          properties:
            api_version:
              const: 2
            output_id:
              type: string
            section:
              $ref: "#/components/schemas/V2Section"
            report_version:
              type: integer
            schema_version:
              type: integer
            published_at:
              type: [string, "null"]
              format: date-time
    V2FullReport:
      type: object
      required: [metadata, report, manifest, metrics, sections]
      properties:
        metadata:
          type: object
          additionalProperties: true
        report:
          $ref: "#/components/schemas/SignalReportHeader"
        manifest:
          type: object
          additionalProperties:
            type: boolean
        metrics:
          $ref: "#/components/schemas/SignalMetrics"
        sections:
          type: object
          additionalProperties: true
          properties:
            overview:
              type: object
              additionalProperties: true
            findings:
              type: array
              items:
                $ref: "#/components/schemas/PublicFinding"
            decision_field:
              type: object
              additionalProperties: true
            action_cards:
              type: array
              items:
                type: object
                additionalProperties: true
            strategic_opportunities:
              type: array
              items:
                type: object
                additionalProperties: true
            competitive_intelligence:
              type: object
              additionalProperties: true
            emerging_patterns:
              type: array
              items:
                type: object
                additionalProperties: true
            future_signals:
              type: array
              items:
                type: object
                additionalProperties: true
            market_analysis:
              type: [object, "null"]
              additionalProperties: true
            knowledge_impact:
              type: [object, "null"]
              additionalProperties: true
            evidence_deep_dives:
              type: array
              items:
                type: object
                additionalProperties: true
            aggregates:
              type: object
              additionalProperties: true
            evidence_sample:
              type: array
              items:
                type: object
                additionalProperties: true
            manifest:
              type: object
              additionalProperties:
                type: boolean
    SignalReportHeader:
      type: object
      required: [brand_name, methodology_name, methodology_slug, headline, summary]
      properties:
        brand_name:
          type: string
        methodology_name:
          type: string
        methodology_slug:
          type: string
        business_question:
          type: [string, "null"]
        headline:
          type: string
        summary:
          type: string
    SignalMetrics:
      type: object
      required: [findings_total, barriers_total, triggers_total, movable_total]
      properties:
        findings_total:
          type: number
        barriers_total:
          type: number
        triggers_total:
          type: number
        movable_total:
          type: number
    PublicFinding:
      type: object
      required:
        - finding_id
        - finding_name
        - polarity
        - layer
        - confidence
        - frequency_mentions
        - intensity_score
        - composite_score
        - evidence_count
      properties:
        finding_id:
          type: string
        finding_name:
          type: string
        polarity:
          type: string
          enum: [trigger, barrier, mixed]
        layer:
          type: string
          enum: [psicologico, personal, social, cultural]
        mobility:
          type: [string, "null"]
          enum: [movible_por_marca, parcialmente_movible, estructural, null]
        confidence:
          type: string
          enum: [alta, media, baja_direccional]
        frequency_mentions:
          type: number
        intensity_score:
          type: number
        predictive_capacity:
          type: [number, "null"]
        composite_score:
          type: number
        share_of_findings_pct:
          type: number
        evidence_count:
          type: number
        period_start:
          type: [string, "null"]
        period_end:
          type: [string, "null"]
        public_quote:
          type: [string, "null"]
